.products {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
    z-index: 1;
    background-color:#E6CCA9;
    /* cursor: pointer; */
    padding: 3em;
  
margin-top: 2em;
}