.category-content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}


/* @mediaQuerry */
@media(max-width:414px){
.category-content{
    flex-wrap:wrap;
}
}



