.login-page{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    /* flex: 1; */
    width: 100%;
}
.login-page div h1{
    color: #317C7D;
    margin-bottom: 2em;
    font-size: 2rem;
}

.log-in{
    margin-bottom: 3em;
}

.btn-login{
    font-size: 1rem;
    color: #317C7D;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: #FFFFFF;
    margin-left:1em;
    text-decoration: none;

}

.login-left{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1em;
}

.login-right{
    width: 100%;
    height: 100vh;
    background:linear-gradient(rgba(50, 112, 114,0.8),rgba(50, 112, 114, 0.8)) ,url("https://images.unsplash.com/photo-1586880244406-556ebe35f282?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MjF8fG9ubGluZSUyMHNob3BwaW5nfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60");
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    gap: 2em;
}
.email-heading{
    text-align: start;
    width: 50%;
    color: #317C7D;
}

.login-input{
width: 100%;
padding: .5em 0;
background-color: #317C7D;
border-radius: .2em;
border: none;
cursor: pointer;
}
.log-div{
    width: 50%;
    position: relative;
}

.email-input{
    width: 100%;
    padding: .5em 0;
    border: none;
    border-bottom:4px solid #317C7D;
    outline: none;
}

.password-input{
    width: 100%;
    text-align: start;
    color: black;
    font-size: 1rem;
    padding: .5em 0;
    border: none;
    outline: none;
    border-bottom: 4px solid #C4C4C4;
    margin-top: 2em;
    
}

.log-checkbox{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    width: 50%;
    margin: 2em 0;
}

.checkbox-div{
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: .5em;
    justify-content: center;
    

}

.recovery-password a{
    color:#317C7D ;
    text-decoration: none;
}


.checkbox-field{
    /* padding: 2em; */
    color:#317C7D ;
    /* width: 100px; */
}

.account-content{
    display: flex;
    align-items: center;
    /* justify-content:center; */
    flex-direction: row;
    gap: 2em;
    width: auto;
}
.description{
    font-size: 2.3rem;
}

.description-p{
    font-size: 1.3rem;
    font-weight: bold;
}

.icon-eye{
    color: #C4C4C4;
    background-color: red;
    top: 50%;
    left: 300px;
    position: absolute;
    /* transform: translatex(50); */
}

.btn-btn{
padding: .5em 2em;
border-radius: .3em;
border:2px solid #317C7D;
background-color: white;
color: #317C7D;
font-size: 1rem;
width: auto;
height: auto;
cursor: pointer;
}

.copy-right{
    margin-top: 2em;
    color: #317C7D;
}



/* @mediaQuerry */
@media(max-width:414px){
    .login-right{
        display:none;
        background-color: black;
    }


    .icon-eye{
        left: 250px;
position: absolute;
    }
    .login-page{
        width: 100%;

    }
}